<div class="page-container">
  <div class="side-bar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">
          <mat-icon aria-hidden="false">home</mat-icon>
          Danh sách
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="new-user">
          <mat-icon aria-hidden="false">add</mat-icon>
          Thêm mới
        </a>
      </li>
    </ul>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
