.page-container {
  display: grid;
  grid-template-columns: 150px auto;
  height: 100%;
  padding: 0px;

  .side-bar {
    background: #252223;
    .nav-item .nav-link{
      align-items: flex-end;
      display: flex;
      color: #FFFFFF;
      font-size: 14px;
    }
    .nav-item .active {
      color: #FFFFFF;
    }
    .nav-item :hover {
      color: #007bff;
    }
  }

  .content-container {
    margin-top: 30px;
  }
}
