<div class="row">
  <div class="col-md-4 offset-md-1">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="searchValue"
             [ngModelOptions]="{standalone: true}" placeholder="Nhập sdt khách hàng..." (keyup)="searchByPhone()">
      <div class="input-group-append">
        <span class="input-group-text"><mat-icon aria-hidden="false">search</mat-icon></span>
      </div>
    </div>
  </div>

</div>

<div class="list-group users-list">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">

    <div class="row">
      <div class="col col-md-3 text-col" style="display: grid;">
        <h4><strong class="text-primary">{{item.payload.doc.data().name}}</strong></h4>
        <label>Năm sinh:
          <strong>{{item.payload.doc.data().birth}}</strong>
        </label>
        <label>Số điện thoại:
          <strong>{{item.payload.doc.data().phone}}</strong>
        </label>
        <label>Địa chỉ:
          <strong>{{item.payload.doc.data().address}}</strong>
        </label>
        <label>Ngày tạo:
          <strong>{{item.payload.doc.data().create_date.seconds*1000 | date: 'dd-MM-yyyy HH:mm'}}</strong>
        </label>
      </div>
      <div class="col col-md-5" style="display: grid;">
        <p></p>
        <label>Loại áo:
          <strong>{{item.payload.doc.data().order_name}}</strong>
        </label>
        <label>Số đo:
          <strong>Dài áo: {{item.payload.doc.data().daiAo || "..."}} | Dài tay: {{item.payload.doc.data().daiTay || "..."}} |
            Bắp tay: {{item.payload.doc.data().bapTay || "..."}} | Ngực: {{item.payload.doc.data().vongNguc || "..."}} |
            Hạ ngực: {{item.payload.doc.data().haNguc || "..."}} | Eo: {{item.payload.doc.data().vongEo || "..."}} |
            Hạ eo: {{item.payload.doc.data().haEo || "..."}} | Mông: {{item.payload.doc.data().vongMong || "..."}} |
            Cổ: {{item.payload.doc.data().vongCo || "..."}} | Kiểu cổ: {{item.payload.doc.data().kieuCo || "..."}} |
            Dài quần: {{item.payload.doc.data().daiQuan || "..."}}
          </strong>
        </label>
        <label>Chú ý:
          <strong>{{item.payload.doc.data().note}}</strong>
        </label>
      </div>
      <div class="col col-md-2" style="display: grid;">
        <p></p>
        <strong class="title-price">{{item.payload.doc.data().price | currency:'VN'}}</strong>
      </div>
      <div class="col col-md-2 actions-col">
        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
          <mat-icon aria-hidden="false">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
